.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  min-height: 100vh;
  background-color: #DA6B57;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.title {
  letter-spacing: 0.2em;
}

.lehti {
  position: "absolute";
  background-color: black;
  width: 10px;
  height: 15px;
  border-radius: 100% 0% 95% 0% / 41% 37% 62% 57%
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #05232f;
}

.led-hoop {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  /* transform: rotate3d(1, 0, 0, 50deg) */
}

/* 
.ring-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 20px;
  margin: auto;
  display: flex;
} */

.rinkula {
  position: absolute;

}

.katti {
  position: absolute;
  top: 18%;
  right: 10%;
  transform: scale(1.2)
}

.pilkku {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  align-self: center;
  z-index: 1;
}

.siniaalto {
  width: 120vh;

}

button {
  padding: 10px;
  margin: 5px;
}